#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.2
Type=Application
Terminal=false
Name=Simple-Weather-App
Exec=Simple-Weather-App %u
Icon=weather
Categories=Utility;
