[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Simple-Weather-App
GenericName=Simple-Weather-App
Comment=Yet Another Simple Weather App
Exec=/opt/simple_weather_app
Icon=/usr/share/simple_weather_app.png
Categories=Utility;
